---
import Img from "../assets/me.webp";
import Card from "../components/ui/Card.astro";
import { FileDown } from "@lucide/astro";
import { Github, Linkedin } from "@boxicons/react";
---

<Card>
  <main class="p-4 space-y-8">
    <section class="relative flex gap-4 md:gap-6">
      <img
        class="w-[120px] md:w-[160px] rounded-xl"
        src={Img.src}
        alt="emcahell"
      />
      <div class="flex flex-col justify-end gap-2 p-2">
        <a
          href="/cv_emmanuelcastro.pdf"
          download
          target="_blank"
          class="absolute top-2 right-0 flex items-center gap-2 text-sm md:text-md text-emerald-950 dark:text-emerald-100 hover:text-emerald-500 dark:hover:text-emerald-500 cursor-pointer hover:animate-pulse transition">
          <span class="font-family-roboto block" data-translate-key="downloadCV"
            >Descargar CV</span
          >
          <FileDown class="w-4 md:w-5" />
        </a>
        <h1
          class="text-lg md:text-3xl text-emerald-950 dark:text-emerald-100 font-bold font-family-nunito w-auto">
          Emmanuel Castro
        </h1>
        <h2 class="flex items-center">
          <span
            class="typewriter text-[12px] md:text-lg text-green-500 dark:text-emerald-400"
          ></span>
        </h2>
      </div>
    </section>

    <section class="flex gap-6 justify-between">
      <a
        class="btn-ani flex justify-center items-center gap-2 w-full bg-emerald-200/30 dark:bg-emerald-300/20 rounded-lg py-3 px-8 relative overflow-hidden hover:shadow-[0_0_8px_rgba(74,222,128,0.2),0_0_16px_rgba(74,222,128,0.1)] transition-all duration-300"
        href="https://github.com/emcahell"
        target="_blank"
        rel="noreferrer">
        <svg
          class="absolute inset-0 w-full h-full"
          viewBox="0 0 100 100"
          preserveAspectRatio="none">
          <rect class="btn-rect" x="0" y="0" width="100" height="100"></rect>
        </svg>
        <Github fill="#00cb7d" />
        <p
          class="relative font-family-roboto font-semibold tracking-wide text-emerald-950 dark:text-emerald-100 text-sm md:text-md z-10">
          GitHub
        </p>
      </a>

      <a
        class="btn-ani flex justify-center items-center gap-2 w-full bg-emerald-200/30 dark:bg-emerald-300/20 rounded-lg py-3 px-8 relative overflow-hidden hover:shadow-[0_0_8px_rgba(74,222,128,0.2),0_0_16px_rgba(74,222,128,0.1)] transition-all duration-300"
        href="https://www.linkedin.com/in/emmanuel-castro-b577aa34a?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=web"
        target="_blank"
        rel="noreferrer">
        <svg
          class="absolute inset-0 w-full h-full"
          viewBox="0 0 100 100"
          preserveAspectRatio="none">
          <rect class="btn-rect" x="0" y="0" width="100" height="100"></rect>
        </svg>
        <Linkedin fill="#00cb7d" />
        <p
          class="relative font-family-roboto font-semibold tracking-wide text-emerald-950 dark:text-emerald-100 text-sm md:text-md z-10">
          LinkedIn
        </p>
      </a>

      <!-- Filtro SVG para el efecto glow -->
      <svg class="hidden">
        <filter id="glow">
          <feGaussianBlur stdDeviation="5" result="coloredBlur"
          ></feGaussianBlur>
          <feMerge>
            <feMergeNode in="coloredBlur"></feMergeNode>
            <feMergeNode in="SourceGraphic"></feMergeNode>
          </feMerge>
        </filter>
      </svg>
    </section>
  </main>
</Card>
