---
import Card from "../components/ui/Card.astro";
---

<Card>
    <section class="p-4">
        <p class="max-w-[500px] text-sm sm:text-lg text-emerald-950 dark:text-emerald-100 font-family-roboto font-normal tracking-wide text-center italic" data-translate-key="aboutMe"></p>
    </section>
</Card>