<footer class="w-full flex justify-center md:justify-start absolute bottom-1 p-2">
  <p class="text-sm font-family-nunito tracking-wide text-emerald-800">
    hecho con 💚 por <span class="font-semibold">Emcahell</span>
  </p>
</footer>