<footer class="hidden lg:flex justify-center md:justify-start absolute right-0 bottom-28 -rotate-90 p-2">
  <p class="text-sm font-family-nunito tracking-wide text-emerald-800">
    hecho con 💚 por <span class="font-semibold">Emcahell</span>
  </p>
</footer>