---
import Card from '../components/ui/Card.astro';
---

<Card>
  <section class='flex flex-col p-7 gap-6'>
    <div>
      <p class="text-lg text-emerald-950 dark:text-emerald-100 font-family-nunito font-bold tracking-wide" data-translate-key='skills'>Mis Habilidades</p>
    </div>
    <div class="flex flex-wrap justify-center gap-4 max-w-[500px]">
      <img class="scale-75 sm:scale-100" src="https://skillicons.dev/icons?i=html" alt="HTML">
      <img class="scale-75 sm:scale-100" src="https://skillicons.dev/icons?i=css" alt="CSS">
      <img class="scale-75 sm:scale-100" src="https://skillicons.dev/icons?i=js" alt="JavaScript">
      <img class="scale-75 sm:scale-100" src="https://skillicons.dev/icons?i=ts" alt="TypeScript">
      <img class="scale-75 sm:scale-100" src="https://skillicons.dev/icons?i=react" alt="React">
      <img class="scale-75 sm:scale-100" src="https://skillicons.dev/icons?i=nextjs" alt="Nextjs">
      <img class="scale-75 sm:scale-100" src="https://skillicons.dev/icons?i=astro" alt="Astro">
      <img class="scale-75 sm:scale-100" src="https://skillicons.dev/icons?i=tailwind" alt="Tailwind">
      <img class="scale-75 sm:scale-100" src="https://skillicons.dev/icons?i=md" alt="Markdown">
      <img class="scale-75 sm:scale-100" src="https://skillicons.dev/icons?i=git" alt="Git">
      <img class="scale-75 sm:scale-100" src="https://skillicons.dev/icons?i=github" alt="GitHub">
      <img class="scale-75 sm:scale-100" src="https://skillicons.dev/icons?i=vercel" alt="Vercel">
    </div>
  </section>
</Card>